.TestTypesTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
  }
  
  table {
    width: 95%; /* Adjust the width as needed */
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-weight: 700;
    
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  @media screen and (max-width: 768px) {
    table {
      width: 100%;
    }
  }
  