
/* .App container styling */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: whitesmoke;
}

/* Form styling */
form {
  
  margin-bottom: 20px;
  width: 300px; /* Adjust width as needed */
}

label {
  margin-bottom: 8px;
  font-weight: 500;
}

input,
select,
button {
  margin-bottom: 16px;
  padding: 10px;
  width: 100%; /* Make inputs full width */
  box-sizing: border-box; /* Include padding in width */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* TestTable and TestTypesTable styling */
.TestTable,
.TestTypesTable {
  margin-top: 20px;
  width: 100%; 
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.form-outline{
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #e4e9eb;
  border-radius: 8px;
}
